@page "/page/temperature"

<PageTitle>อุณหภูมิ</PageTitle>

<div class="full-screen">
    <iframe src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=mm&metricTemp=°C&metricWind=km/h&zoom=6&overlay=temp&product=ecmwf&level=surface&lat=12.512&lon=99.8" frameborder="0"></iframe>
</div>
